runs/detect/object_tracking/21 DENİZMEN KAVŞAĞI.mp4
runs/detect/object_tracking/20 GÖZTEPE..mp4
runs/detect/object_tracking/19 GÜZELYALI.mp4
runs/detect/object_tracking/18 FAHRETTİN ALTAY MEYDANI.mp4
runs/detect/object_tracking/17 MİTHATPAŞA ENDÜSTRİ MESLEK LİSESİ.mp4
runs/detect/object_tracking/16 BAHÇELERARASI KÖPRÜ.mp4
runs/detect/object_tracking/12 BALÇOVA KİPA.mp4
runs/detect/object_tracking/2 GÜZELBAHÇE GİRİŞİ.mp4
runs/detect/object_tracking/1 DEMİRKÖPRÜ KAVŞAĞI.mp4
best.pt
source/traffic.mp4
